@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
    
    width: 30%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.logo img{
    width: 40%;
    border:2px solid white;
    border-radius: 60px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content:center;
    position:sticky;
    top:0;
    cursor: pointer;


}
.nav-list{
    padding-right: 20%;
    width: 70%;
    display: flex;
    align-items: center;


}

.nav-list li{
    list-style: none;
    padding: 24px 24px; 
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu';
}

.nav-list li a:hover{
    color: grey;


}

.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
    

    
}

.rightNav div{
    background-color: #072b3b;
    border: 0px solid #fff;
    
}



.background{
    background: rgba(0, 0, 0, 0.7) url('vit-bhopal-logo-vector.png');
    background-size: cover;
    background-blend-mode: darken;

}

.firstSection{
    height: 100vh;

}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firstHalf{
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.secondHalf{
    width: 30%;
}
.secondHalf video{ 
    width: 300px;
    height: 300px;
    padding: 2px;
    display:block;
    margin:auto;
    margin-left: 25px;
}


.text-big{
    font-size: 38px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.text-small{
    font-size: 20px;
    margin-bottom: 4px;

}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
    font-family:'Ubuntu', sans-serif;
    font-size: 20px;
}
.btn-sm{
    padding: 5px 10px;
    vertical-align: middle; 
    font-size: 16px;
    
}
.btn-dark{
    color:black;
    border: 2px solid grey;
    
   
}
.btn a{
    text-decoration: none;
    color: white;
}

.intro{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    padding-top: 5%;
    font-family: 'Bungee Spice', cursive;
    font-size: larger;
    
}
.coder video{
    padding-left: 40%;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    margin-top: 12px;
    display: block;
    background-color:solid white;

}
.section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    padding-top: 5%;
    font-family: 'Ubuntu', sans-serif;
    
}
.section-left{
    flex-direction: row-reverse;
    
}

.para{
    padding: 0px 58px;
}
.sectionTag{
    padding: 16px 0;
}
.sectionSubtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    border: 2px;
    border-radius: 26px;
    margin-top: 19px;
}

.contact{
    background-color:rgb(248, 248, 248);
    height: 833px;
}

.text-center{
    text-align: center;
    padding-top: 30 px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;

}

.form{
    max-width: 950px;
    margin: 25px auto;
}
.form-input{
    margin: 14px 0;
    padding: 4px 2px;
    width: 100%;
    font-size:19px;
    border: 2px solid grey;
    border-radius: 6px;

}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;

}

@media only screen and (max-width:1000px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width:100%;
    }
    .secondHalf video{
        flex-direction: column;
    }

}